html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;

    app-root {
        width: 100%;
    }
}

a {
    text-decoration: none;
}
